#news-signup * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

html{
width:100%;
height:100%;
}

.popObrigado {
    display: none;
    min-height:400px;
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}

#news-signup{
    position: fixed;
    width: 100%;
    visibility: hidden;
    z-index: 99999; /*90002;*/
    top: 100px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}
#news-signup .wrapper {
    background: url(../images/popexit/bgpop.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;     
    position: relative;
    margin: 0 auto;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    width: 98%    
}
#news-signup_bg {
     visibility: hidden;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #000000;
     opacity: 0.6;
     z-index: 99998; /*90001;*/
}
#news-signup_close {
    position: absolute;
    z-index: 2;
    left: 100%;
    margin: 7px 0 0 -37px;
    width: 30px;
    height: 30px;
    color: #fff;
    opacity:1;
    background-color: #0ea3d8;
    cursor: pointer;
}
#news-signup_close::before {
    content: "×";
    padding:2px 0 0 0;
    font: 400 26px/1em 'Roboto Slab', serif;
}
#news-signup_close:hover {
    opacity:0.8;
}
#news-signup .newsletter-content {
    padding: 30px 3px;
    margin: 0 auto
}
#news-signup .newsletter-content form#idFrmExitPopup {
    background-color:transparent;
    width: 50%;
    margin-left: 55px;
    padding:120px 0 20px 0;
    text-align: left;    
}
/*
#news-signup .newsletter-content form#idFrmExitPopup p {
    color:#fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16.79px;
}
#news-signup .newsletter-content form#idFrmExitPopup p span {
    font-size: 22px;
    color:#ffc600;
    line-height: 27px;
}
*/
#news-signup .newsletter-content form#idFrmExitPopup input.popexit {
    padding: 21px 25px;
    /*border-radius: 30px;*/
    background-color:#ffffff;
    width: 100%;
    display: block;
    color:#16216a;
    border:none;
    margin:0 0 10px 0;
    font-size: 18px;
}
#news-signup .newsletter-content form#idFrmExitPopup input.popexit::-webkit-input-placeholder {
    color:#16216a;
    font-family: 'Barlow Condensed', sans-serif;
}
#news-signup .newsletter-content form#idFrmExitPopup input.popexit:-ms-input-placeholder {
    color:#16216a;
    font-family: 'Barlow Condensed', sans-serif;
}
#news-signup .newsletter-content form#idFrmExitPopup input.popexit::placeholder {
    color:#16216a;
    font-family: 'Barlow Condensed', sans-serif;
}
#news-signup .newsletter-content form#idFrmExitPopup input.popexit:-webkit-autofill,
#news-signup .newsletter-content form#idFrmExitPopup input.popexit:-webkit-autofill:hover, 
#news-signup .newsletter-content form#idFrmExitPopup input.popexit:-webkit-autofill:focus {
    color:#16216a;
    background-color:#ffffff;     
    -webkit-text-fill-color: #16216a;
    box-shadow: 0 0 0px 1000px #ffffff inset;
}
#news-signup .newsletter-content form#idFrmExitPopup button {
    font-family: 'Barlow Condensed', sans-serif;
    color:#ffffff;
    background-color: #0ea3d8;
    text-transform: lowercase;
    font-weight: 700;
    text-decoration: none;
    font-size: 11px;
    /*-webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;*/
    border:none;
    padding: 21px 25px;
    margin:10px 0 0 auto;
    display:block;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;
    min-width: 150px;
    text-align: center; 
    letter-spacing: 4px;   
}
#news-signup .newsletter-content form#idFrmExitPopup button:hover {
    color:#0ea3d8;
    background-color: #ffffff;
}






#news-signup .newsletter-content h2 {
     font: 300 24px/1em 'Roboto Slab', serif;
    color: #fff;
    text-align: center;
    margin: 0 auto 15px
}
#news-signup .newsletter-content p {
    margin: 0 auto 25px;
    font: 300 16px/1em 'Roboto Slab', serif;
    color: #7e8890
}
#news-signup .newsletter-content form {
    margin: 0;
    padding: 0;
    width: 90%;
}

#news-signup .newsletter-content form p {
    margin: 0 auto 10px
}

#news-signup .newsletter-content form p:not(.button) {
    float: none;
    width: 100%;
}

#news-signup .newsletter-content form p:not(.button) input {
    width: 100%;
    margin: 0;
    padding: 12px 15px !important;
    border-color: #d0d5d8
}

#news-signup .newsletter-content form .button {
    float: none;
    width: 100%
}

#news-signup .newsletter-content form .button input {
    width: 100%;
    padding: 20px 25px 18px !important;
    font-size: 12px
}

#news-signup .newsletter-content p.footnote {
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.8;
    font: 100 11px 'Roboto Slab', serif;
    color: #abb0b7;
    margin-bottom: 0
}

@media screen and (min-width: 800px){

    #news-signup .wrapper {
        width: 800px;
        margin: 7% auto;
    }
    #news-signup .newsletter-content form .button input {
        width: auto;
        margin: 0
    }
    #news-signup .newsletter-content form .button {
        float: left;
        width: auto;
        margin-left: 15px;
    }
    #news-signup .newsletter-content form {
        width: auto
    }
    #news-signup .newsletter-content form p {
        margin: 0 auto 15px
    }
    #news-signup .newsletter-content form p:not(.button) {
        float: left;
        width: auto
    }
    .newsletter-content form p:not(.button) input {
        width: 300px!important;
        margin: 0 15px 0 0
    }
}

